@page
@model MyGymProject.Client.Pages.ClientMainModel
@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-2 bg-dark vh-100">
            <h5>Меню</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-page="/ClientMain">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-page="/ClientSchedule">Мои тренировки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-page="/ClientBooking">Расписание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/Logout">Выход</a>
                </li>
            </ul>
        </div>
        <div class="col-10 p-4">
            <div class="col-8 mb-3 text-start">
                <h1 class="display-6">Добро пожаловать, @Model.client?.FullName</h1>
            </div>
            <div class="row mt-5">
                <div class="col-2">
                    <img src="./source/user.png" alt="No img" class="img-fluid" style="max-width: 20vh;" />
                </div>
                <div class="col-4 ms-5">
                    <h5> Личные данные</h5>
                    @if(Model.IsEditing)
                    {
                        <form method="post">
                            <div class="mb-2">
                                <label>Имя</label>
                                <input asp-for="updatedClient.FullName" class="form-control" />
                            </div>
                            <div class="mb-2">
                                <label>Дата рождения</label>
                                <input asp-for="updatedClient.DateOfBirth" type="date" class="form-control" />
                            </div>
                            <div class="mb-2">
                                <label>Логин</label>
                                <input asp-for="updatedClient.Login" class="form-control" />
                            </div>
                            <label asp-for="updatedClient.Gender" class="form-label">Укажите пол</label>
                            <select asp-for="updatedClient.Gender" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option value="">Выберите пол</option>
                                <option value="1">Мужской</option>
                                <option value="2">Женский</option>
                            </select>
                            <div class="mb-2">
                                <label>Email</label>
                                <input asp-for="updatedClient.Email" class="form-control" />
                            </div>
                            <div class="mb-2">
                                <label>Телефон</label>
                                <input asp-for="updatedClient.Phone" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-success me-2">Сохранить</button>
                            <a asp-page="/ClientMain" class="btn btn-secondary">Отмена</a>

                        </form>
                    }
                    else
                    {
                        <p>Id: @Model.client.Id</p>
                        <p>Имя: @Model.client.FullName</p>
                        <p>Дата рождения: @Model.client.DateOfBirth</p>
                        <p>Логин: @Model.client.Login</p>
                        <p>Email: @Model.client.Email</p>
                        <p>Телефон: @Model.client.Phone</p>
                        <a asp-page="/ClientMain" asp-route-IsEditing="true" class="btn btn-primary">Редактировать</a>
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <div class="alert alert-success mt-3">@Model.Message</div>
                        }
                    }  
                </div>
            </div>
        </div>
    </div>
</div>

