@page
@model MyGymProject.Client.Pages.ClientBookingModel
@{
}


<div class="container-fluid p-0">
    <div class="row">
        <partial name="_ClientSidebar.cshtml" />
        <div class="col-10 p-4">
            <div>
                <h1 class="display-4 mt-4 mb-4 text-primary"> Запись на тренировку</h1>
                <p class="text-muted">Готовы сделать первый шаг к своему телу мечты? Запишитесь на тренировку с профессиональным тренером прямо сейчас!</p>
                <hr>
                <h2>Что вас ждёт:</h2>
                <ul>
                    <li><strong>Индивидуальный подход</strong> — тренировка под вашу цель и уровень подготовки</li>
                    <li><strong>Профессиональные тренеры</strong> — сертифицированные специалисты с опытом</li>
                    <li><strong>Разные направления</strong>: фитнес, йога, пилатес, тяжёлая атлетика</li>
                    <li><strong>Удобный график</strong> — выбирайте дату и время онлайн</li>
                </ul>
            </div>
            <div class="row">
                @foreach (var trainer in Model.Trainers)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card training-card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">@trainer.FullName</h5>
                                <p class="card-text"> <strong>Возраст</strong> @trainer.Age лет </p>
                                <p class="card-text"><strong>Специализация:</strong> @trainer.Specialization</p>
                                <p class="card-text">@trainer.Description</p>
                                <a class="btn btn-primary"
                                   asp-page="/SelectTraining"
                                   asp-route-trainerId="@trainer.Id">
                                    Перейти к выбору тренировки
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="/js/clientBooking.js"></script>