@page
@model MyGymProject.Client.Pages.ClientBookingModel
@{
}


<div class="container-fluid p-0">
    <div class="row">
        <partial name="_ClientSidebar.cshtml" />
        <div class="col-10 p-4">
            <div>
                <h1 class="display-4 mt-4 mb-4 text-primary"> Запись на тренировку</h1>
                <p class="text-muted">Готовы сделать первый шаг к своему телу мечты? Запишитесь на тренировку с профессиональным тренером прямо сейчас!</p>
                <hr>
                <h2>Что вас ждёт:</h2>
                <ul>
                    <li><strong>Индивидуальный подход</strong> — тренировка под вашу цель и уровень подготовки</li>
                    <li><strong>Профессиональные тренеры</strong> — сертифицированные специалисты с опытом</li>
                    <li><strong>Разные направления</strong>: фитнес, йога, пилатес, тяжёлая атлетика</li>
                    <li><strong>Удобный график</strong> — выбирайте дату и время онлайн</li>
                </ul>
            </div>
            <div class="row">
                @foreach (var trainer in Model.Trainers)
                {
                    <div class="col-md-3 mb-3">
                        <div class="d-flex flex-column card training-card shadow-sm h-100">
                            <div class="card-body">
                                <div class="ratio ratio-1x1 mb-3">
                                    <img src="@trainer.ImgPath"
                                         alt="Фото тренера"
                                         class="img-fluid rounded object-fit-cover"/>
                                </div>
                                <h5 class="card-title">@trainer.FullName</h5>
                                <ul>
                                    <li class="card-text"> <strong>Возраст</strong> @trainer.Age лет </li>
                                    <li class="card-text"><strong>Специализация:</strong> @trainer.Specialization</li>
                                    <li class="card-text">@trainer.Description</li>
                                </ul>
                            </div>
                            <div class="px-3 pb-3 text-center">
                                <a class="btn btn-primary"
                                   asp-page="/BookTraining"
                                   asp-route-trainerId="@trainer.Id">
                                    Перейти к расписанию
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="/js/clientBooking.js"></script>